In [4]:
import sqlite3
import random
from datetime import datetime, timedelta

In [6]:
# Establish a connection to the database or create it if it doesn't exist
conn = sqlite3.connect('library.db')

# Create a cursor object to execute SQL commands
cur = conn.cursor()

# Create table for Books
cur.execute('''
CREATE TABLE IF NOT EXISTS Books (
    Book_ID INTEGER PRIMARY KEY,
    Title TEXT NOT NULL,
    Author TEXT,
    ISBN TEXT,
    Publication_Year INTEGER,
    Category TEXT,
    Availability TEXT CHECK (Availability IN ('Yes', 'No')) NOT NULL
)
''')

# Create table for Students
cur.execute('''
CREATE TABLE IF NOT EXISTS Students (
    Student_ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Email TEXT,
    Department TEXT
)
''')

# Create table for Faculty
cur.execute('''
CREATE TABLE IF NOT EXISTS Faculty (
    Faculty_ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Email TEXT,
    Department TEXT
)
''')

# Create table for Librarians
cur.execute('''
CREATE TABLE IF NOT EXISTS Librarians (
    Librarian_ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Email TEXT
)
''')

# Create table for Transactions
cur.execute('''
CREATE TABLE IF NOT EXISTS Transactions (
    Transaction_ID INTEGER PRIMARY KEY,
    Book_ID INTEGER,
    Title TEXT,
    Student_Faculty_ID INTEGER,
    Librarian_ID INTEGER,
    Borrowed_Date DATE,
    Returned_Date DATE,
    FOREIGN KEY (Book_ID) REFERENCES Books (Book_ID),
    FOREIGN KEY (Title) REFERENCES Books (Title),
    FOREIGN KEY (Student_Faculty_ID) REFERENCES Students (Student_ID),
    FOREIGN KEY (Librarian_ID) REFERENCES Librarians (Librarian_ID)
)
''')

# Commit the changes
conn.commit()

# Close the database connection
conn.close()

In [8]:
import sqlite3
from datetime import datetime

# Connect to the SQLite database
conn = sqlite3.connect('library.db')
cur = conn.cursor()

# Insert sample data into the Books table
books_data = [
    (1, 'To Kill a Mockingbird', 'Harper Lee', '9780446310789', 1960, 'Classic', 'Yes'),
    (2, '1984', 'George Orwell', '9780451524935', 1949, 'Dystopian', 'Yes'),
    (3, 'Pride and Prejudice', 'Jane Austen', '9780679783268', 1813, 'Romance', 'Yes'),
    (4, 'The Great Gatsby', 'F. Scott Fitzgerald', '9780743273565', 1925, 'Classic', 'Yes'),
    (5, 'The Hobbit', 'J.R.R. Tolkien', '9780547928227', 1937, 'Fantasy', 'Yes')
]

for book in books_data:
    cur.execute('INSERT INTO Books VALUES (?, ?, ?, ?, ?, ?, ?)', book)

# Insert sample data into the Students table
students_data = [
    (1, 'Alice Johnson', 'alice.johnson@example.com', 'Computer Science'),
    (2, 'Bob Smith', 'bob.smith@example.com', 'English Literature'),
    (3, 'Carol White', 'carol.white@example.com', 'Biology'),
    (4, 'Dave Brown', 'dave.brown@example.com', 'Chemistry'),
    (5, 'Eve Davis', 'eve.davis@example.com', 'Mathematics')
]

for student in students_data:
    cur.execute('INSERT INTO Students VALUES (?, ?, ?, ?)', student)

# Insert sample data into the Faculty table
faculty_data = [
    (1, 'Prof. John Doe', 'john.doe@example.com', 'Physics'),
    (2, 'Prof. Jane Roe', 'jane.roe@example.com', 'Philosophy'),
    (3, 'Prof. Mike Hale', 'mike.hale@example.com', 'History'),
    (4, 'Prof. Alice Ford', 'alice.ford@example.com', 'Engineering'),
    (5, 'Prof. Chuck Norris', 'chuck.norris@example.com', 'Martial Arts')
]

for faculty in faculty_data:
    cur.execute('INSERT INTO Faculty VALUES (?, ?, ?, ?)', faculty)

# Insert sample data into the Librarians table
librarians_data = [
    (1, 'Sam Peterson', 'sam.peterson@example.com'),
    (2, 'Linda Gale', 'linda.gale@example.com'),
    (3, 'Raj Singh', 'raj.singh@example.com'),
    (4, 'Nina Zhao', 'nina.zhao@example.com'),
    (5, 'Omar Ali', 'omar.ali@example.com')
]

for librarian in librarians_data:
    cur.execute('INSERT INTO Librarians VALUES (?, ?, ?)', librarian)

# Insert sample data into the Transactions table
transaction_data = [
    (1, 1, 'To Kill a Mockingbird', 1, 1, '2023-01-10', '2023-01-20'),
    (2, 2, '1984', 2, 2, '2023-02-15', None),
    (3, 3, 'Pride and Prejudice', 3, 3, '2023-03-13', '2023-04-10'),
    (4, 4, 'The Great Gatsby', 4, 4, '2023-04-05', None),
    (5, 5, 'The Hobbit', 5, 5, '2023-05-25', '2023-06-05')
]

for transaction in transaction_data:
    cur.execute('INSERT INTO Transactions VALUES (?, ?, ?, ?, ?, ?, ?)', transaction)

with open('path_to_image.jpg', 'rb') as file:
    blob_data = file.read()

# Insert binary data into database
cur.execute('UPDATE my_table_name SET image_data = ? WHERE my_conditions', (blob_data,))

# Commit the changes to the database
conn.commit()

# Close the database connection
conn.close()